<div class="flex-container">
  <div class="flex-item">
    <h2>folders.hbs</h2>

    <ol>
    {{#each model as |folder|}}
      <li>{{#link-to 'folders.folder' folder}}{{folder.name}}{{/link-to}}</li>
    {{/each}}
    </ol>
  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>
